@mixin media-min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

$widths: (
  bodyMaxWidth: 1600px
);

$titleSizes: (
  h2-min: 1.8rem,
  h2-large: 2.5rem
);

$colors: (
  bodyBg: #333030,
  main: #f8b137,
  primary: #f78034,
  secondary: #f60f3e
);

$devices: (
  mobileS: 320px,
  mobileM: 375px,
  mobileL: 425px,
  tablet: 768px,
  laptop: 1024px,
  laptopL: 1440px,
  desktop: 2560px
);
/* el Navbar de bootstrap tiene un z-index de 1030 */
$zindexes: (
  backdrop: 1040,
  main-nav: 100,
  mobile-nav:1050
);
