@import "variables";
/* -------------------------------
-------Hero Home ----------------
*/
.hero-home {
  background-image: url("/static/panorama-Monterrey-NL-OPT.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 -2cm;
  background-repeat: no-repeat;
  height: 550px;
  padding: 0;
  // width: 100%;
  box-shadow: 0px 4px 15px 8px rgba(0, 0, 00, 0.3);
  // max-width: map-get($widths, bodyMaxWidth);
  @include media-min-width(map-get($devices, tablet)) {
    // background-image: url("/static/panorama-Monterrey-NL-OPT-450x650px.jpg");
    height: 600px;
  }
  @include media-min-width(map-get($devices, laptopL)) {
    // background-image: url("/static/panorama-Monterrey-NL-OPT.jpg");
    width: 80%;
    margin: 0 auto;
  }
}
.backdropHome {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr) 70px 70px;
  grid-template-areas:
    ". . . . . ."
    ". hht hht hht hht ."
    ". hht hht hht hht ."
    ". hht hht hht hht ."
    "hhi hhi hhi hhi hhi hhi"
    "hhc hhc hhc hhc hhc hhc";
}
.heroHome__title {
  grid-area: hht;

  h1 {
    color: white;
    font-size: 1.8rem;
    letter-spacing: 5px;
    line-height: 40px ;
    padding-top: 2rem;
    text-shadow: 1px 1px 1px #000;
    @include media-min-width(map-get($devices, tablet)) {
      font-size: 2.5rem;
      line-height: 45px;
    }
  }
  p {
    color: white;
    padding-top: 1rem;
    font-size: 0.8rem;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: justify;
    @include media-min-width(map-get($devices, tablet)) {
      font-size: 1.2rem;
      line-height: 35px;
    }
  }
}
@include media-min-width(map-get($devices, tablet)) {
  .backdropHome {
    grid-template-areas:
      ". . . . . ."
      ". hht hht hht hht ."
      ". hht hht hht hht ."
      ". hht hht hht hht ."
      ". . . . hhc hhc"
      "hhi hhi hhi hhi hhc hhc";
  }

}
.heroHome__info {
  grid-area: hhi;
  background-color: rgba(248, 177, 55, 0.5);
  padding: 1rem 0;
  display: none;

  span {
    color: white;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
  }

  @include media-min-width(map-get($devices, tablet)) {
    display: flex;
  justify-content: space-around;
  align-items: center;
  }
}

.heroHome__cotiza {
  grid-area: hhc;
  background-color: rgba(255, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  @include media-min-width(map-get($devices, mobileL)) {
    flex-direction: column;
  }
  p {
    color: white;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px #000;
    font-weight: bold;
    text-align: center;
    @include media-min-width(map-get($devices, mobileL)) {
      font-size: 1.3rem;
    }
  }
  span {
    color: white;
    padding: 0;
    margin:0;
    letter-spacing: 2px;
    text-align: center;
  }
}

/* -------------------------------
-------SOLICITA COTIZACION ----------------
*/
#SolicitaCotizacion{
  background-image: url("/static/Isotipo-blanco-teotl-SemiTransparent17.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#SolicitaCotizacion h2 {
  color: map-get($colors , main );
  font-size: map-get($titleSizes , h2-min );
  letter-spacing: 4px;
  @include media-min-width(map-get($devices, mobileL)) {
    font-size: map-get($titleSizes , h2-large );
  }
}

.bg-isotipo-Teotl{
  background-image: url('/static/Isotipo-blanco-teotl-SemiTransparent17.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.cotizacion_reglamento {
  border-left: 3px solid red;
  font-size: 14px;
  line-height: 30px;
}
/* -------------------------------
-------SERVICIOS ----------------
*/
#servicios h2{
  line-height: 50px;
}
#servicios h2 span {
  font-size: 2.3rem!important;
  color: var(--primary);
  
}
.servicios__slogan{
  letter-spacing: 3px;
  font-size: 1.1rem;
  width: 80%;
  padding: 1rem 0 1rem 2rem;
  line-height: 30px;
}
.servicios{
  background-image: url("/static/Caracol-gris-teotl.svg");
  background-repeat: repeat-y;
  background-position: center center;
  background-size: contain;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 250px;

  @include media-min-width(map-get($devices, mobileL)) {
    background-repeat: no-repeat;
  }
  .servicio{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 00, 0.5);
    border-radius: 10px;
    h5 {
      font-size: 0.9rem!important;
      line-height: 30px;
      padding: 1rem 0;
      @include media-min-width(map-get($devices, mobileL)) {
        font-size: 1.4rem;
      }
    }
    p{
      font-size: 0.9rem;
      line-height: 25px;
      letter-spacing: 2px;
    }
  }
  i{
    font-size: 3.0rem;
    @include media-min-width(map-get($devices, mobileL)) {
      font-size: 3.6rem;
    }
  }
}
/* -------------------------------
-------PARALLAX INFO ----------------
*/
#parallax-info{
  margin: 2rem 0;
}
.parallax-info__Bg{
  width: 100%;
  height: 600px;
  background-image: url("/static/monterrey-H600px-W900px.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .parallax-info__backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    .row{
      height: 100%;
    }
  }

  .parallax-info__duda,
  .parallax-info__contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .parallax-info__duda{
    h4{
      letter-spacing: 3px;
      line-height: 40px;
      padding: 0 1rem;
    }
  }
  .parallax-info__contacto {
    p{
      font-size: 1.2rem;
    }
  }
}


/* -------------------------------
-------NUESTROS CLIENTES ----------------
*/

.nuestros-clientes{
  background-color: white;
}
.img-client{
  max-height: 80px;
  max-width: 120px;
}
