@import "variables";
/* -------------------------------
-------Hero Home ----------------
*/
.hero-home {
  background-image: url("/static/panorama-Monterrey-NL-OPT.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 -2cm;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
  box-shadow: 0px 4px 15px 8px rgba(0, 0, 00, 0.3);
  max-width: map-get($widths, bodyMaxWidth);
  @include media-min-width(map-get($devices, laptopL)) {
    width: 80%;
    margin: 0 auto;
  }
}
.backdropHome {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr) 70px 70px;
  grid-template-areas:
    ". . . . . ."
    ". hht hht hht hht ."
    ". hht hht hht hht ."
    ". hht hht hht hht ."
    "hhi hhi hhi hhi hhi hhi"
    "hhc hhc hhc hhc hhc hhc";
}
.heroHome__title {
  grid-area: hht;

  h1 {
    color: white;
    font-size: 1.8rem;
    letter-spacing: 3px;
    @include media-min-width(map-get($devices, tablet)) {
      font-size: 2.5rem;
    }
  }
  p {
    color: white;
    font-size: 0.9rem;
    line-height: 30px;
    letter-spacing: 2.5px;
    text-align: justify;
    @include media-min-width(map-get($devices, tablet)) {
      font-size: 1.2rem;
      line-height: 35px;
    }
  }
}
@media (min-width: 950px) {
  .backdropHome {
    grid-template-areas:
      ". . . . . ."
      ". hht hht hht hht ."
      ". hht hht hht hht ."
      ". hht hht hht hht ."
      ". . . . hhc hhc"
      "hhi hhi hhi hhi hhc hhc";
  }
  .heroHome__cotiza {
    flex-direction: column;
    p {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-size: 1.6rem;
      letter-spacing: 3px;
      text-shadow: 2px 2px 2px #000;
      font-weight: bold;
    }
    span {
      letter-spacing: 2px;
    }
  }
}
.heroHome__info {
  grid-area: hhi;
  background-color: rgba(248, 177, 55, 0.5);
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  span {
    color: white;
    letter-spacing: 3px;
  }
}

.heroHome__cotiza {
  grid-area: hhc;
  background-color: rgba(255, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  p {
    color: white;
    font-size: 1.3rem;
  }
  span {
    color: white;
    padding: 1rem;
  }
}
/* -------------------------------
-------SOLICITA COTIZACION ----------------
*/
section#SolicitaCotizacion{
  border: 1px solid red;
  background-image: url("/static/Isotipo-blanco-teotl-SemiTransparent17.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

/* -------------------------------
-------SERVICIOS ----------------
*/

.servicios {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 30px;
  background-image: url("/static/Caracol-gris-teotl.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  grid-template-areas:
    " uno uno uno uno uno uno uno uno uno uno . ."
    " . . dos dos dos dos dos dos dos dos dos dos"
    " tres tres tres tres tres tres tres tres tres tres . ."
    " . . cuatro cuatro cuatro cuatro cuatro cuatro cuatro cuatro cuatro cuatro"
    " cinco cinco cinco cinco cinco cinco cinco cinco cinco cinco . ."
    " . . seis seis seis seis seis seis seis seis seis seis";
}

@media (min-width: 700px) {
  .servicios {
    grid-template-areas:
      " . uno uno uno uno uno dos dos dos dos dos ."
      " . uno uno uno uno uno dos dos dos dos dos ."
      " . tres tres tres tres tres cuatro cuatro cuatro cuatro cuatro ."
      " . tres tres tres tres tres cuatro cuatro cuatro cuatro cuatro ."
      " . cinco cinco cinco cinco cinco seis seis seis seis seis ."
      " . cinco cinco cinco cinco cinco seis seis seis seis seis .";
  }
}

.servicio1,
.servicio2,
.servicio3,
.servicio4,
.servicio5,
.servicio6 {
  width: 100%;
  /*height: 200px;
    border: 1px solid red;*/
  background-color: rgba(45, 45, 45, 0.6);
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.servicio1 {
  grid-area: uno;
}
.servicio2 {
  grid-area: dos;
}
.servicio3 {
  grid-area: tres;
}
.servicio4 {
  grid-area: cuatro;
}
.servicio5 {
  grid-area: cinco;
}
.servicio6 {
  grid-area: seis;
}