$theme-colors: (
  "primary": #F8B137,
  "secondary": #F60F3E
);
$enable-responsive-font-sizes: true;

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Roboto|Rubik:400,700&display=swap');
@import "variables";

body {
  background-color: map-get($colors, bodyBg);
  height: 3200px;
  color:rgb(255, 255, 255);
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
  // background-color: #DFDBE5;
background-image: url("/static/texture.svg")
}

// img {
//   max-width: 100%;
//   display: block;
//   height: auto;
//   transition: all 0.3s ease-in-out;
// }
h1 {
  text-shadow: 1px 1px 1px #000;
  font-family: 'rubik', sans-serif;
}
h2{
font-size: 2.2rem;
font-weight: bold;
line-height: 45px;
padding: 2rem 0;
}
h2,
h3,
h4,
h5{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}
h6{
  font-family: 'Roboto', sans-serif;
}
.active {
  // background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #F60F3E ;
}
 .active a{
     color: #F60F3E!important;
 }
 .bg-dark-semiT{
   background-color: rgba(21,21,21,0.7);
 }
 .bg-dark-bavbar{
  background-color: rgba(21,21,21,1);
}
 .bg-secondary-semiT{
  background-color: rgba(248,177,55, 0.5);
 }
.backdrop {
    display: none;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: map-get($zindexes , backdrop );
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms linear;
  }
  .open {
    display: block!important;
    /* Solo usar important en casos especiales como este,
    ya que si no se agrega, este display es sobre escito
    por display none, debido a que al erchivo css donde se
    especifica display none, viene segundo en la ista de link, 
    por lo tanto sobreescribe */
    opacity: 1!important;
    transform: translateY(0)!important;
  }

  .navbar ul li {
    text-transform: uppercase;
    font-weight: bold;
  }
  .navbar img {
    margin-right: 2rem;
  }
/*
* MENU MOVIL
*/
.mobile-nav__container {
    transform: translateX(-105%); 
    // box-sizing: border-box;
    position: fixed;
    opacity: 0;
    max-width: 400px;
    z-index: map-get($zindexes , mobile-nav );
    top: 0;
    left: 0;
    // background: white;
    width: 70%;
    height: 100vh;
    transition: transform 300ms ease-out;
    background-color: map-get($colors , main );
    -webkit-box-shadow: 1px 0px 2px 0px rgba(246,15,62,1);
    -moz-box-shadow: 1px 0px 2px 0px rgba(246,15,62,1);
    box-shadow: 1px 0px 2px 0px rgba(246,15,62,1);
    .mobile-nav-content{
      padding: 2rem;
    }
  
    p{
      padding: 2rem 0 1rem 0;
      font-weight: bold;
      font-size: 1.3rem;
      letter-spacing: 2px;
      text-align: center;
    }
    h2{
      font-size: 4rem;
      color: red;
    }
    h5{
      padding: 0.5rem;
      border-bottom: 2px solid white;
    }
    .mobile-nav__background{
      background-color: whitesmoke;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        margin: 0;
        padding: 20px;
        max-width: 250px;
      }
    }
  
    .mobile-nav-content{
      height: 100%;
      width: 100%;
    }
  
    .mobile-nav{
      padding: 1rem 0;
    }
    .mobile-nav__items {
      height: 100%;
      list-style: none;
      margin: 0 auto;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    
      .mobile-nav__item {
        padding: 0.5rem 0;
        
      }
      .mobile-nav__item a{
        text-transform: uppercase;
        color: map-get($colors , secondary )!important;
        padding: 0.5rem;
        font-weight: bold;
        border-radius: 5px;
        &:hover {
          text-decoration: none;
          background-color: whitesmoke;
        }
      }
  
  }
  
  .mobile-nav__social{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
      padding: 10px;
      i{
        font-size: 2rem;
        padding: 0.2rem;
      }
          .mobile-nav__linkedin{
            color:#039be5
          }
      .mobile-nav__facebook{
        color: #3b5998 !important
      }
  }
  }
    /* 
  * MAIN
  */
  #main-content{
    flex: 1 0 auto;
  }

  /* 
  * FOOTER
  */
  #sticky-footer {
    flex-shrink: none;
  }
.grid-footer{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  justify-content: space-around;
}
.footer-content{
  
}
.footer__slogan-image{
  max-width: 200px;
}

