@import "~bootstrap/scss/bootstrap";
@import "variables";
body {
  background-color: map-get($colors, bodyBg);
  height: 3200px;
  color:white;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  transition: all 0.3s ease-in-out;
}
h1 {
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;
}
.container {
  width: 80%;
  margin: 90px auto;
  max-width: map-get($widths, bodyMaxWidth);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: #161515;
  grid-gap: 50px;
  align-items: center;
  justify-items: center;
}
.header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  @include media-min-width(map-get($devices, laptopL)) {
    width: 80%;
    left: 50%;
    max-width: map-get($widths, bodyMaxWidth);
    transform: translateX(-50%);
  }
  .header-Wrapper {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    margin: 0;
  }
}
.nav-main__desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-main__desktop__item {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 15px;
  text-transform: uppercase;
  transition:  0.3s ease-in-out;
  letter-spacing: 2px;
  &:hover {
    background-color: map-get($colors, secondary)!important;
    color:white;
  }
}
.nav-main__desktop__item-scrolled {
  color: black;
}
.spacer {
  flex-grow: 1;
}
.toggle-button {
  display: none;
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}
.header-scrolled {
  background-color: white;
  height: 70px;
}
.header-logo {
  width: 80px;
  height: 80px;
  margin-left: 30px;
  padding: 5px;
}
.headerImg-scrolled {
  width: 50px;
  height: 50px;
  padding: 5px;
}
.backdropHome {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
}
.backdrop {
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms linear;
}
